# created by virtualenv automatically
.idea/
Lib/
Scripts/
pyvenv.cfg

# unpacked SLX tool
SLXToolStudents/SLX
SLXToolStudents/SLX/*

# generated diagrams and data
ModelDescriptions/RoomModelSLX/*.pdf
ModelDescriptions/RoomModelSLX/*.csv
